<ion-view title="Login" id="page2" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="login-form1" class="list ">
            <ion-list id="login-list1" class=" ">
                <label class="item item-input " id="login-input1">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="" ng-model="nameuser">
                </label>
                <label class="item item-input " id="login-input2">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="" ng-model="pwduser"> 
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>

            <button ng-click="goToPage(nameuser, pwduser)" class=" button button-stable  button-block "> Save
</button>

            <a ui-sref="page" id="login-button1" class=" button button-stable  button-block ">Log in</a>


            <a href="#" onclick="window.open('/signup', '_system', 'location=yes'); return false;" id="login-button2" class=" button button-positive  button-block button-clear ">Or create an account</a>
        </form>
    </ion-content>
</ion-view>