<label>
    FirstName:
</label>

<input type="text" placeholder="FirstName" [(ngModel)]="FirstName">
<label>
    LastName:
</label>
<input type="text" placeholder="LastName" [(ngModel)]="LastName">
<label>
    Phone:
</label>
<input type="text" placeholder="Phone" [(ngModel)]="Phone">
<label>
    Password:
</label>
<input type="text" placeholder="Password" [(ngModel)]="Password">
<label>
    Email:
</label>
<input type="text" placeholder="Email" [(ngModel)]="Email">

<h1>{{ FirstName }}</h1>
<h1>{{ LastName }}</h1>
<h1>{{ Phone }}</h1>
<h1>{{ Password }}</h1>
<h1>{{ Email }}</h1>