<ion-view title="Opcion 2" id="page2" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="opcion2-form2" class="list ">
            <ion-toggle toggle-class="toggle-positive" id="opcion2-toggle1" class=" ">Toggle</ion-toggle>
            <ion-checkbox name="ch1">Checkbox 1</ion-checkbox>
            <ion-checkbox name="ch1">Checkbox 2</ion-checkbox>
            <ion-radio id="opcion2-radio1" name="rb1" class=" ">Radio 1</ion-radio>
            <ion-radio id="opcion2-radio2" name="rb1" class=" ">Radio 2</ion-radio>
        </form>
    </ion-content>
</ion-view>