<ion-view title="Page" id="page1" class=" ">
    <ion-content padding="true" class="has-header">
        <a ui-sref="opcion1" id="page-button1" class=" button button-positive  button-block ">opcion 1</a>
        <a ui-sref="opcion2" id="page-button2" class=" button button-positive  button-block ">opcion 2</a>
        <a ui-sref="opcion3" id="page-button3" class=" button button-positive  button-block ">Opcion 3</a>
        <a ui-sref="opcion4" id="page-button4" class=" button button-positive  button-block ">Opcion 4</a>
    </ion-content>
</ion-view>