<ion-view title="Mostrar" id="page2" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="mostrar-list1" class=" ">
            <ion-item id="mostrar-list-item4" class="  ">{{device}}</ion-item>
            <ion-item id="mostrar-list-item5" class="  ">{{cordova}}</ion-item>
            <ion-item id="mostrar-list-item6" class="  ">{{model}}</ion-item>
            <ion-item id="mostrar-list-item7" class="  ">{{platform}}</ion-item>
            <ion-item id="mostrar-list-item8" class="  ">{{uuid}}</ion-item>
            <ion-item id="mostrar-list-item9" class="  ">{{version}}</ion-item>
        </ion-list>
    </ion-content>
</ion-view>