<ion-view title="Opción 2" id="page3" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="opciN2-form2" class="list ">
            <ion-toggle toggle-class="toggle-positive" id="opciN2-toggle2" class=" ">Toggle</ion-toggle>
            <ion-checkbox name="Check">Item1</ion-checkbox>
            <ion-checkbox name="Check">Item2</ion-checkbox>
            <ion-checkbox name="Check">Item3</ion-checkbox>
            <ion-radio id="opciN2-radio2" name="Radio" class=" ">Radio 1</ion-radio>
            <ion-radio id="opciN2-radio3" name="Radio" class=" ">Radio 2</ion-radio>
            <ion-radio id="opciN2-radio4" name="Radio" class=" ">Radio 3</ion-radio>
        </form>
    </ion-content>
</ion-view>