<ion-view title="Opcion 1" id="page2" class=" ">
    <ion-content padding="true" class="has-header">
        <h3 id="opcion1-heading1" style="color:#000000;font-weight:300;text-align:center;" class=" ">Listados</h3>
        <ion-list id="opcion1-list1" class=" ">
            <ion-item id="opcion1-list-item1" class="  ">Item 1</ion-item>
            <ion-item id="opcion1-list-item2" class="  ">Item 2</ion-item>
            <ion-item id="opcion1-list-item3" class="  ">Item 3</ion-item>
        </ion-list>
        <h3 id="opcion1-heading2" style="color:#000000;font-weight:300;text-align:center;" class=" ">Cards</h3>
        <div class="list card " id="opcion1-card21">
            <ion-item class="item-avatar  " id="opcion1-list-item4">
                <h2>Item</h2>
            </ion-item>
            <div class=" item item-image">
                <img src="img/eWbGVWsSmGbZheKvJ3w5_mariposa1.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <div class="item item-body " id="opcion1-list-item-container1">
                <p id="opcion1-null" style="margin-top:0px;color:#000000;" class=" ">Some friendly
                    <strong>markdown</strong>
                </p>
            </div>
            <ion-item class="item-icon-left assertive  " id="opcion1-list-item5">
                <i class="icon ion-music-note"></i>Play Song</ion-item>
        </div>
        <h3 id="opcion1-heading4" style="color:#000000;font-weight:300;text-align:center;" class=" ">Formulario</h3>
        <form id="opcion1-form3" class="list ">
            <label class="item item-input " id="opcion1-input2">
                <span class="input-label">Fecha</span>
                <input type="date" placeholder="">
            </label>
            <label class="item item-select " id="opcion1-select1">
                <span class="input-label">Acción</span>
                <select>
                    <option>Ingresar</option>
                    <option>Eliminar</option>
                </select>
            </label>
        </form>
    </ion-content>
</ion-view>