<ion-view title="Opción 3" id="page4" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="opciN3-form6" class="list ">
            <ion-toggle toggle-class="toggle-positive" id="opciN3-toggle3" class=" ">Toggle</ion-toggle>
            <ion-radio id="opciN3-radio5" class=" ">Radio</ion-radio>
            <label class="item item-input " id="opciN3-input3">
                <span class="input-label">Input</span>
                <input type="text" placeholder="">
            </label>
            <ion-item class="range range-positive " id="opciN3-range1">Range
                <input type="range" value="50" min="0" max="100" name="Intensidad del dolor">
            </ion-item>
        </form>
    </ion-content>
</ion-view>