<ion-view title="Edición Perfil" id="page1">
    <ion-content padding="true" class="has-header">
        <form id="ediciNPerfil-form1" class="list">
            <label class="item item-input" id="ediciNPerfil-input1">
                <span class="input-label">Nombre(s)</span>
                <input type="text" placeholder="" id="NomUsr">
            </label>
            <label class="item item-input" id="ediciNPerfil-input2">
                <span class="input-label">Apellido(s)</span>
                <input type="text" placeholder="" id="ApeUsr">
            </label>
            <label class="item item-input" id="ediciNPerfil-input3">
                <span class="input-label">Teléfono</span>
                <input type="tel" placeholder="" id="TelUsr">
            </label>
            <label class="item item-input" id="ediciNPerfil-input4">
                <span class="input-label">Password</span>
                <input type="password" placeholder="">
            </label>
        </form>
        <button id="ediciNPerfil-button1" class="button button-positive  button-block" ng-click="EditarPerfil()">Actualizar Información</button>
    </ion-content>
</ion-view>