<ion-view title="Forgot Password" id="page2">
    <ion-content padding="true" class="has-header">
        <form id="forgotPassword-form1" class="list ">
            <ion-list id="forgotPassword-list1">
                <label class="item item-input " id="forgotPassword-input1">
                    <span class="input-label">Email</span>
                    <input type="text" placeholder="" id="Email">
                </label>
                <label class="item item-input " id="forgotPassword-input2">
                    <span class="input-label">New Password</span>
                    <input type="password" placeholder="" id="NewPass">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <button id="forgotPassword-button1" class=" button button-positive  button-block " ng-click="changePassword()">Cambiar Password</button>
        </form>
    </ion-content>
</ion-view>