<ion-view title="opciones" id="page1">
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="height: 100px;"></div>
        <!--<a href="#" onclick="window.open('/paginaregistro', '_system', 'location=yes'); return false;" id="opciones-button1" style="border-radius:50px 50px 50px 50px;" class=" button button-positive  button-block ">Registrarme!</a>-->
        <a ui-sref="bienvenido" id="opciones-button2" style="border-radius:50px 50px 50px 50px;" class=" button button-positive  button-block ">Registrarme!</a>
        <div class="spacer" style="width: 300px; height: 58px;"></div>
        <!--<a href="#" onclick="window.open('/paginaingresar', '_system', 'location=yes'); return false;" id="opciones-button2" style="border-radius:50px 50px 50px 50px;" class=" button button-positive  button-block ">Ingresar!</a>-->
        <a ui-sref="login" id="opciones-button1" style="border-radius:50px 50px 50px 50px;" class=" button button-positive  button-block ">Ingresar!</a>
    </ion-content>
</ion-view>