<ion-view title="Productos" id="page4">
    <ion-content padding="true" class="has-header" ng-controller="productosCtrl">
    
    	<ion-refresher pulling-text="Pull to refresh..."  on-refresh="doRefresh()">  </ion-refresher>
    
    
        <a  ui-sref="addproducto" id="add-button2" class=" button button-positive  button-block ">Agregar Producto</a>
        
        <ion-list id="productos-list3">
            <!--<ion-item id="productos-list-item7" ng-repeat="item in list">{{item.name}}</ion-item>-->
            <a class="item" ng-repeat="product in list" href="#/side-menu21/page5/{{ product.id }}">{{ product.name }}</a>
        </ion-list>
        
    </ion-content>
</ion-view>