<ion-view title="Registro" id="page1">
    <ion-content padding="true" class="has-header">
       <div ng-controller="registroCtrl">
        <h3 id="registro-heading1" style="color:#000000;text-align:center;">Registro usuario</h3>
        <form id="registro-form2" class="list ">
            <label class="item item-input " id="registro-input2">
                <span class="input-label">Email</span>	
                <input type="text" placeholder="" id="Email">
            </label>
            <label class="item item-input " id="registro-input3">
                <span class="input-label">Nombre(s)</span>	
                <input type="text" placeholder="" id="Nombres">
            </label>
            <label class="item item-input " id="registro-input4">
                <span class="input-label">Apellido(s)</span>	
                <input type="text" placeholder=""  id="Apellidos">
            </label>
            <label class="item item-input " id="registro-input5">
                <span class="input-label">Tel&eacute;fono</span>	
                <input type="text" placeholder="" id="Telefono">
            </label>
            <label class="item item-input " id="registro-input6">
                <span class="input-label">Password</span>
                <input type="password" placeholder="" id="Password">
            </label>
        </form>
        <button id="registro-button1" ng-click="userCreate()" style="border-radius:50px 50px 50px 50px;" class=" button button-positive  button-block button-outline ">Registrar</button>
        <div>
            <a href="#">Términos y Condiciones</a>
        </div>
        </div>
    </ion-content>
</ion-view>