<ion-view title="Acelerometro" id="page2">
    <ion-content padding="true" class="has-header">
        <button id="acelerometro-button2" class=" button button-positive  button-block " ng-click="getAcelerometro()">Acelerometro</button>
        <ion-list id="acelerometro-list2">
            <ion-item id="acelerometro-list-item11">{{x}}</ion-item>
            <ion-item id="acelerometro-list-item12">{{y}}</ion-item>
            <ion-item id="acelerometro-list-item13">{{z}}</ion-item>
            <ion-item id="acelerometro-list-item14">{{timeStamp}}</ion-item>
        </ion-list>
    </ion-content>
</ion-view>