<ion-view title="Brujula" id="page4">
    <ion-content padding="true" class="has-header">
        <button id="brujula-button4" class=" button button-positive  button-block " ng-click="getBrujula()">Brujula</button>
        <ion-list id="brujula-list4">
            <ion-item id="brujula-list-item18">{{magneticHeading}}</ion-item>
            <ion-item id="brujula-list-item19">{{trueHeading}}</ion-item>
            <ion-item id="brujula-list-item20">{{accuracy}}</ion-item>
            <ion-item id="brujula-list-item21">{{timeStamp}}</ion-item>
        </ion-list>
    </ion-content>
</ion-view>