<ion-view title="Dispositivo" id="page1">
    <ion-content padding="true" class="has-header">
        <button id="dispositivo-button1" class=" button button-positive  button-block " ng-click="getDispositivo()">Dispositivo</button>
        <ion-list id="dispositivo-list1">
            <ion-item id="dispositivo-list-item5">{{device}}</ion-item>
            <ion-item id="dispositivo-list-item6">{{cordova}}</ion-item>
            <ion-item id="dispositivo-list-item7">{{model}}</ion-item>
            <ion-item id="dispositivo-list-item8">{{platform}}</ion-item>
            <ion-item id="dispositivo-list-item9">{{uuid}}</ion-item>
            <ion-item id="dispositivo-list-item10">{{version}}</ion-item>
        </ion-list>
    </ion-content>
</ion-view>